<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Increff POS</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- fevicon -->
    <link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" th:href="@{/https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css}" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img th:src="@{/images/loadingg.gif}" alt="#" /></div>
</div>
<!-- end loader -->
<div class="wrapper">
    <!-- end loader -->
    <div id="content">
        <!-- header -->
        <header>
            <!-- header inner -->
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a th:href="@{/index.html}"><img th:src="@{/images/logoo.jpg}"  style="height:60px;width:60px;" alt="#" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header inner -->
        <!-- end header -->
        <!-- banner -->
        <div id="myCarousel" class="carousel slide banner_main" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                    <div class="space"></div>
                                    <div class="text-bg">
                                        <h1>Increff<br>POS</h1>
                                        <div class="space"></div>
                                        <a class="read_more" th:href="@{/site/login}" role="button">Let's Go !</a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                    <div class="images_box">
                                        <figure><img th:src="@{/images/img2.png}"></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end banner -->
        <!-- about -->
        <div id="about"  class="about">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class="col-md-5">
                        <div class="about_img">
                            <figure><img th:src="@{/images/about_img.jpg}" alt="#"/></figure>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="titlepage">
                            <h2>About <span class="blu">Us</span></h2>
                            <p>This application is similar to what we see in supermarkets or departmental stores, where the orders can be placed by the store employees after scanning the barcode against the products and customers are given a proper receipt of their order</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end about -->
        <!-- choose  section -->
            <div class="choose_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="titlepage">
                                        <h2 style="color:white;">Why Choose Us</h2>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col" id="whyChooseUs">
                                    <ul class="easy">
                                        <li>Easy to customize</li>
                                        <li>More flexible</li>
                                        <li>Interactive GUI</li>
                                        <li>Role based Controls </li>
                                        <li>Secure</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end choose  section -->
        <!-- work -->
        <div id="work"  class="work">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class="col-md-7">
                        <div class="titlepage">
                            <h2>How It <span class="blu">Works</span></h2>
                            <p>The creation of brand-category of products, their names and inventory access is given only to
                            the supervisor. Other users are operators who can create orders and view brands, products, inventory and create
                            different types of reports.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="work_img">
                            <figure><img th:src="@{/images/work_img.jpg}" alt="#"/></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  footer -->
        <footer>
            <div class="footer">
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Copyright 2023 All Rights Reserved By Increff </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.0.0.min.js}"></script>
    <!-- sidebar -->
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <!-- google map js --><!-- end google map js -->
</body>
</html>

