<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head">
    <title>Orders</title>
</head>

<body>

<nav th:replace="snippets.html :: name_navbar"></nav>

<div class="container">
    <br>
    <!-- Top row with form-->
    <!--  <card>-->
    <div class="row card mx-auto" style="width: 40rem;">
        <div class="space">
            <!--      Blank row-->
        </div>
        <h3 class="text-center">Orders </h3>
        <div class="col-12">
            <form id="order-form">

                <div class="half-space">
                    <!--      Blank row -->
                </div>
                <div class="form-group">
                    <label for="inputCustomerName">Customer Name : </label>
                    <input type="text" class="form-control" name="customerName" id="inputCustomerName" placeholder="Enter customer's name">
                </div>

                <button type="button" class="btn btn-primary mx-auto text-center" id="add-order">Create a new order now</button><br><br>
                <button type="button" class="btn btn-success" id="refresh-data" style="margin-left:20px">Refresh</button>
<!--                <button type="button" class="btn btn-link" id="upload-data" style="margin-left:40px">Upload</button>-->
            </form>

        </div>

        <div class="space">
            <!--      Blank row -->
        </div>
    </div>
    <div class="half-space">
        <!--      Blank row-->
    </div>
    <!--  </card>-->
    <div class="row text-danger" id="logg">

    </div>
    <div class="space">
        <!--      Blank row-->
    </div>

    <!-- Blank Row -->

    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="order-table">
                <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Order Time</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Nestle</td>
                    <td>Edit | Delete</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>health</td>
                    <td>Edit | Delete</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

<!--    &lt;!&ndash; Order Edit Modal &ndash;&gt;-->
<!--    <div class="modal" tabindex="-1" role="dialog" id="edit-order-modal">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title">Edit Order or its category </h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->

<!--                    <form class="form-inline" id="order-edit-form">-->
<!--                        <div class="form-group">-->
<!--                            <label for="inputOrder" class="col-sm-2 col-form-label">Order</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" class="form-control" name="order" placeholder="Enter order name">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" class="form-control" name="category" placeholder="Enter order's category">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <input type="hidden" name="id" >-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--                    <button type="button" class="btn btn-primary" id="update-order">Update</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;  For upload button&ndash;&gt;-->

<!--    &lt;!&ndash; Order Edit Modal &ndash;&gt;-->
<!--    <div class="modal" tabindex="-1" role="dialog" id="upload-order-modal">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->

<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title">Upload Order</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->

<!--                <div class="modal-body">-->
<!--                    <div class="order-file">-->
<!--                        <input type="file" class="custom-file-input" id="orderFile">-->
<!--                        <label class="custom-file-label" for="orderFile" id="orderFileName">Choose file</label>-->
<!--                    </div>-->
<!--                    <a th:href="@{/sample/order.tsv}" target="_blank">Download Sample</a>-->
<!--                    <br>-->
<!--                    Rows: <span id="rowCount">0</span>,-->
<!--                    Processed: <span id="processCount">0</span>,-->
<!--                    Errors: <span id="errorCount">0</span>-->
<!--                </div>-->

<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--                    <button type="button" class="btn btn-primary" id="process-data">Upload</button>-->
<!--                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order.js}"/></script>

</body>

</html>