<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_navbar"></nav>

<div class="container">
    <br>
    <br>

    <!--    <h3>Products </h3>-->

    <!-- Top row with form-->
    <div class="row card mx-auto" style="width: 40rem;">
        <div class="space">
            <!--      Blank row-->
        </div>
        <h3 class="text-center">Products </h3>
        <div class="col-12">
            <form id="product-form">
                <div class="form-group">
                    <label for="inputBarcode">Barcode</label>
                    <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter barcode of product">

                </div>
                <div class="form-group">
                    <label for="inputBrand" >Brand name </label>
                    <select class="form-control" id="inputBrand" name="brandName">
                        <option>Brand A</option>
                        <option>Brand B</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="inputCategory" >Category</label>
                    <select class="form-control" id="inputCategory" name="categoryName">
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputProduct">Product</label>
                    <input type="text" class="form-control" name="name" id="inputProduct" placeholder="Enter product name">
                </div>
                <div class="form-group">
                    <label for="inputMrp">MRP</label>
                    <input type="text" class="form-control" name="mrp" id="inputMrp" placeholder="Enter product's MRP">

                </div>
                <div class="half-space">
                    <!--      Blank row -->
                </div>
                <button type="button" class="btn btn-primary" id="add-product" style="margin-left:20px">Add</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-success" id="refresh-data"style="margin-left:10px">Refresh</button>
                &nbsp;
                <button type="button" class="btn btn-link" id="upload-data" style="margin-left:40px">Upload</button>
            </form>
        </div>
        <div class="space">
            <!--      Blank row -->
        </div>
    </div>
    <div class="half-space">
        <!--      Blank row-->
    </div>

    <!-- Blank Row -->
    <div class="row text-danger" id="logg">

    </div>
    <div class="space">
        <!--      Blank row-->
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="product-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Brand_category</th>
                    <th scope="col">Product name</th>
                    <th scope="col">MRP</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>3</td>
                    <td>a1b2c3d4</td>
                    <td>1</td>
                    <td>nestle kitkat 100 grams</td>
                    <td>49.00</td>
                    <td>Edit | Delete</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>11sdfs23</td>
                    <td>2</td>
                    <td>chyavanprash 500 grams</td>
                    <td>599.25</td>
                    <td>Edit | Delete</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Employee Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product or its category </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="product-edit-form">
                        <div class="form-group">
                            <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="barcode" placeholder="Enter barcode of product" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputProduct" class="col-sm-2 col-form-label">Product</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="Enter product name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="mrp" placeholder="Enter product's MRP">
                            </div>
                        </div>
                        <input type="hidden" name="productId" >

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="update-product">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!--  For upload button-->

    <!-- Product Upload Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="product-file">
                        <input type="file" class="custom-file-input" id="productFile">
                        <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
                    </div>
                    <a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="process-data">Upload</button>
                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"/></script>

</body>

</html>