html {
	position: relative;
	min-height: 100%;
}

.link{
style-decoration:none;
}

.demo-wrap {
  overflow: hidden;
  position: relative;
  height:100vh;
}


.card-img-top{
height: 14rem;
}
.half-space { margin:0; padding:0; height:15px; }

.space { margin:0; padding:0; height:25px; }
.demo-bg {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.jumbotron{
margin-bottom :0px;
}

.demo-content {
  position: relative;
  top:100px;
  left:50px;
  border : 4px solid black;
  width: max-content;
  padding :20px;
  background :  #D3D3D3;
}

body {

	margin-bottom: 60px; /* Margin bottom by footer height */
}

/*Css added */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	background-color: #f5f5f5;
}